/**
 * @name Material Gruvbox
 * @.
 * @author Costeer
 * @version 1.5.0
 * @website https://github.com/Costeer
 * @source https://github.com/Costeer/Gruvbox-Material-Themes
*/

@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/DiscordRecolor/DiscordRecolor.css);

:root {
  --accentcolor: 137,180,130;
  --accentcolor2: 211,134,155;
  --linkcolor: 125,174,163;
  --mentioncolor: 211,134,155;
  --textbrightest: 221,199,161;
  --textbrighter: 212,190,152;
  --textbright: 168,153,132;
  --textdark: 146,131,116;
  --textdarker: 146,131,116;
  --textdarkest: 80,80,80;
  --font: gg sans;
  --backgroundaccent: 43,39,37;
  --backgroundprimary: 31,29,28;
  --backgroundsecondary: 29,27,26;
  --backgroundsecondaryalt: 27,26,25;
  --backgroundtertiary: 25,23,22;
  --backgroundfloating: 24,23,23;
  --settingsicons: 1;
}


